
/*Main stuff*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background-color: #121214;
    background-image: url('https://f2.toyhou.se/file/f2-toyhou-se/images/115738999_TOc4TEUskq7oPe0.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    animation: fadeIn 0.7s forwards;
    }
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
h1 {
    color: #F4EBFF;
    font-size: 52px;
    font-family: Metrophobic, "Courier New";
    margin: 0px;
    padding: 0px;
    }
    
@media screen and (max-width: 780px) {
  h1 {
    font-size: 42px;
  }
}

h2 {
  color: #81778C;
  font-size: 25px;
  font-weight: bold;
  font-family: Metrophobic, "Courier New";
  margin: 6px;
  padding-left: 6px;
}

h3 {
    color: #F4EBFF;
    font-size: 36px;
    font-family: Metrophobic, "Courier New";
    margin: 0px;
    padding: 0px;
    }

p  {
    color: #81778C;     
    font-size: 20px;
    font-family: Metrophobic, "Courier New";
    margin: 5px;
    padding: 6px;
    }

@media screen and (max-width: 780px) {
  p {
    font-size: 18px;
  }
}

/*Decor*/
.border {
  border: 5px solid #222229;
}

.seperator{
    border-top: 5px solid #222229;
    margin: 30px;
}
    
::selection {
background: #2b2a2f;
color: #a195ae;
}

/*Container layout*/
.container {
    border: 5px solid #222229;
    padding: 2.5%;
    margin: 4.5%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: #121214;
}

@media screen and (max-width: 1170px) {
  .container {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.column { 
  float: left;
  text-wrap: normal;
  height: auto;
}
.left {
  width: 35%;
  padding: 10px;
}
.right {
  width:65%;
  padding: 10px;
}
.leftalt {
  width: 55%;
  padding: 5px;
}
.rightalt {
  width: 45%;
  padding: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 10px;
}

@media screen and (max-width: 970px) {
  .column {
    width: 100%;
  }
}

@media screen and (min-width: 971px) {
  .marginmid {
    margin-top: 20vb;
  }
}
@media screen and (min-width: 1454px) {
  .marginmid {
    margin-top: 10vb;
  }
}
@media screen and (min-width: 1700px) {
  .marginmid {
    margin-top: 0vb;
  }
}

/*Buttons*/
.link {
  border:2px solid #222229;
  background-color: transparent;   
  font-size: 16px;
  font-family: Metrophobic, "Courier New";
  padding: 8px 15px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
}
.link:hover {
  background-color: #2d2d3647;
}
